html[data-theme='light'] {
  --main-background: white;
  --header-background: #ffffffe1;

  --main-text-color: black;

  --switch-background: #eeebff;
  --theme-background: white;

  --title-border-color: #4824ff30;
  
  --main-elements-color: #eeebff;
  --bg-white-to-main: white;
  --elements-color: white;

  --tag-text-color: #4824ff;
  --selected-tag-background: #04001a;
}

html[data-theme='dark'] {
  --main-background: #04001a;
  --header-background: #04001ae1;

  --main-text-color: white;

  --switch-background: #120940;
  --theme-background: #4824ff;

  --title-border-color: #eeebff25;
  
  --main-elements-color: #4824ff;
  --bg-white-to-main: #4824ff;
  --elements-color: #080033;

  --tag-text-color: white;
  --selected-tag-background: white;
}



body {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-background);
  color: var(--main-text-color)
}

@font-face {
  font-family: 'Nunito';
  src: url("/public/nunito-md.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----- HEADER ----- */

header {
  margin-left: -5vw;
  margin-right: -5vw;
  position: fixed;
  width: 90vw;
  padding: 0 5vw 0 5vw;
  background: var(--header-background);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.menu {
  height: 100px;
  width: 50vw;
  align-content: center;
}

header a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: #4824ff;
  filter: drop-shadow(0px 0px 50px #4824ff);
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  position: relative;
  height: 55px;
  width: 222px;
  border-radius: 55px;
  background: #4824ff;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0px 0px 35px #4824ff40);
}

.btn:before {
  content: '';
  position: absolute;
  height: 270px;
  width: 30px;
  background: #ffffffbd;
  filter: blur(2px);
  transition: 1.5s;
  transform: rotate(-25deg) translateX(-50px) translateY(-200px);
}

.btn:hover:before {
  transform: rotate(-25deg) translateX(200px);
}

/*доделать иконки, сейчас при наведении появляется зеленый цвет, так же пофиксить размеры*/
.icon {
  height: 48px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
  margin-right: 2%;
  cursor: pointer;
  filter: invert();
}

.icon.telegram.light,
.icon.instagram.light {
  background-color: white;
}

.icon.telegram {
  content: url(/public/icons/telegram.svg);
  margin-left: 2%;
  padding: 7px;
}

.icon.instagram {
  content: url(/public/icons/instagram.svg);
  padding: 7px;
}

.icon:hover {
  background-color: white;
  filter: drop-shadow(0px 0px 5px #4824ff40);
}

.switch {
  width: 100px;
  height: 55px;
  border-radius: 55px;
  background-color: var(--switch-background);
  border: 1px solid var(--main-elements-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.theme {
  margin: 2px;
  width: 51px;
  height: 51px;
  border-radius: 55px;
  background: var(--bg-white-to-main);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.theme.light {
  content: url(/public/icons/sun.svg);
}

.theme.dark {
  content: url(/public/icons/moon.svg);
}

.switch:hover > .theme.light {
  transform: rotate(45deg);
}


/* ----- WELCOME BLOCK ----- */
.welcome-block {
  height: 800px;
  display: flex;
  place-items: center;
}

.welcome-block h1 {
  font-size: 52px;
}

.welcome-block h2 {
  font-size: 42px;
  font-weight: 450;
}

.welcome-block h3 {
  font-size: 30px;
  font-weight: 300;
}

.title {
  background: linear-gradient(to right, #4824ff, #4824ff, #85ebff, var(--main-elements-color), #85adff, #4824ff, #4824ff);
  background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 200% 50% }
  100% { background-position: 0% 50% }
}

.welcome-block .first_block {
  align-content: center;
  width: 55%;
}

.main-image-block {
  margin-top: 5%;
  width: 35%;
  margin-left: 10%;
}


/* ----- SKILLS BLOCK ----- */
.skills-block {
  margin-top: 5%;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 5vw;
}

.skills-block .tag {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  background: var(--main-elements-color);
  color: var(--tag-text-color);
  margin: 0 12px 0 0;
  padding: 8px 22px 8px 8px;
  border-radius: 24px;
}

.skills-block .tag .tag-icon {
  margin: -10px;
  padding: 0;
  position: relative;
  height: 50px;
  width: 50px;
  background-color: var(--tag-text-color); /* цвет иконки */
  -webkit-mask-image: url('/public/icons/check.svg');
  mask-image: url('/public/icons/check.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  scale: 0.77;
}

/* ----- GITHUB BLOCK ----- */
.github-block {
  margin-top: 5%;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 5vw;
}

/* -----ABOUT MYSELF BLOCK ----- */
.about-myself-block {
  margin-top: 5%;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 5vw;
}

.about-myself-block .tag {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  width: 75%;
  margin: 0 6px 5px 0;
  padding: 8px 22px 8px 8px;
}

.about-myself-block .tag .tag-icon {
  margin: -10px;
  margin-right: 10px;
  padding: 0;
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #4824ff; /* цвет иконки */
  -webkit-mask-image: url('/public/icons/check.svg');
  mask-image: url('/public/icons/check.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  scale: 1;
}

/* ----- FOOTER BLOCK ----- */
.footer {
  height: 80px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #cec4fe50;
  margin-left: -5vw;
  margin-right: -5vw;
  align-content: center;
}


/* ----- BUTTON TO UP ----- */
.btn-up {
  position: fixed;
  right: 5vw;
  bottom: 6vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s linear;
  animation: appearance 2s forwards;
  border: none;
  opacity: 0;
  transform: translateY(0);
  background: #4824ff;
}

@keyframes appearance {
  0% { opacity: 0; transform: translateY(40px); border-radius: 50%; }
  100% { opacity: 1; transform: translateY(0px); border-radius: 50%; }
}

.btn-up::before {
  content: "";
  height: 70px;
  width: 70px;
  size: 2%;
  background-color: white; /* цвет иконки */
  -webkit-mask-image: url('/public/icons/arrow-up.svg');
  mask-image: url('/public/icons/arrow-up.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  scale: 1.5;
}