body {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Nunito';
  src: url("/public/nunito-md.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----- HEADER ----- */

header {
  display: flex;
  height: 100px;
  place-items: center;
}

.menu {
  height: 100px;
  width: 100%;
  align-content: center;
}

header a {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header a:hover {
  color: #4824ff;
  filter: drop-shadow(0px 0px 50px #4824ff);
}

.btn {
  height: 55px;
  width: 222px;
  border-radius: 55px;
  background: #4824ff;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0px 0px 35px #4824ff40);
}

.btn:before {
  content: '';
  position: absolute;
  height: 270px;
  width: 30px;
  background: #ffffffbd;
  filter: blur(2px);
  transition: 1.5s;
  transform: rotate(-10deg) translateX(-50px) translateY(-200px);
}

.btn:hover:before {
  transform: rotate(-10deg) translateX(200px);
}

/*доделать иконки, сейчас при наведении появляется зеленый цвет, так же пофиксить размеры*/
.icon {
  height: 48px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
  margin-right: 2%;
  cursor: pointer;
  filter: invert();
}

.icon.telegram {
  content: url(/public/icons/telegram.svg);
  margin-left: 2%;
  padding: 7px;
}

.icon.instagram {
  content: url(/public/icons/instagram.svg);
  padding: 7px;
}

.icon:hover {
  background: #4824ff;
  filter: drop-shadow(0px 0px 35px #4824ff40);
}

.switch {
  width: 135px;
  height: 55px;
  border-radius: 55px;
  background-color: #eeebff;
  overflow: hidden;
}

.theme {
  margin: 2px;
  width: 51px;
  height: 51px;
  border-radius: 55px;
  background: white;
  transition: 0.5s ease-in-out;
}

.theme.light {
  content: url(/public/icons/sun.svg);
}

.switch:hover > .theme.light {
  transform: rotate(45deg);
}


/* ----- WELCOME BLOCK ----- */
.welcome-block {
  height: 650px;
  display: flex;
  place-items: center;
}

.welcome-block h1 {
  font-size: 52px;
}

.welcome-block h2 {
  font-size: 42px;
  font-weight: 450;
}

.welcome-block h3 {
  font-size: 30px;
  font-weight: 300;
}

.title {
  background: linear-gradient(to right, #4824ff, #4824ff, #85ebff, #eeebff, #85adff, #4824ff, #4824ff);
  background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 200% 50% }
  100% { background-position: 0% 50% }
}

.welcome-block .first_block {
  align-content: center;
  width: 55%;
}

.main-image-block {
  width: 35%;
  margin-left: 10%;
  margin-top: -3%;
}


/* ----- SKILLS BLOCK ----- */
.skills-block {
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 5vw;
  background: #fbfaff;
}

.skills-block .tag {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  background: #eeebff;
  color: #4824ff;
  margin: 0 12px 0 0;
  padding: 8px 22px 8px 8px;
  border-radius: 24px;
}

.skills-block .tag .tag-icon {
  margin: -10px;
  padding: 0;
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #4824ff; /* цвет иконки */
  -webkit-mask-image: url('/public/icons/check.svg');
  mask-image: url('/public/icons/check.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  scale: 0.77;
}